<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Detecting traffic violations</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <h1>Send video for detecting traffic violations</h1>
    <form id="sendVideoForm" action="" class="row" style="background-color:#dedede" onsubmit="return false">
    <div class="col-8">
        <b>Video</b>
        <select class="form-control" id="video-select">
            <option value="custom">Video from PC</option>
            <option value="kompol-9s">Demo video: stop Polyclinic (9s.)</option>
            <option value="youtube-link">Youtube link</option>
<!--            <option value="online-record">Record online</option>-->
        </select>
        <div class="form-group" id="video-form">
            <label for="video-file">Video file</label>
        <input type="file" class="form-control-file" id="video-file">
        </div>
        <br>
        <div class="form-group2" id="video-form2" style="display: none;">
            <label for="youtube-video">Yotube Video</label>
            <input type="text" class="form-control-file2" id="youtube-video" size="40">
            <button id="but-download">Загрузить</button>
        </div>
        <br>
        <div id="video-view" style="display: none;">
            <video controls width="50%" src=""></video>
        </div>
        <iframe id="youtube-link" src="https://www.youtube.com/embed/x5EjzN8IdOA" style="display: none;" type="video/mp4"></iframe>
      </div>
    </form>
    <section id="detectionProccess" class="row" style="background-color:#dedede" >
            <div class="col-12">
                <b>Wait detection...</b>
                <p class="url-for-result">Result: <a href=""></a></p>
                <div class="progress" style="height: 50px">
                  <h1>
                      <div class="progress-bar bg-info" id="detectionProgressbar" role="progressbar" style="width: 0%;color:blue;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="200">0%</div>
                  </h1>
                </div>
                <br>
            </div>
    </section>

    <section id="downloadResult" class="row">
        <div id="video-download" class="col-8">
            <video controls width="100%"></video>
        </div>
        <div class="col-4 d-flex flex-column align-items-start">
            <hr>
            <p class="url-for-result">Results: <a href=""></a></p>
            <hr>
            <a href="" id="download-mp4-file" download class="btn btn-info m-1"> Скачать видео mp4</a>
            <hr>
        </div>
    </section>

     <button type="submit" class="btn btn-success" id="send-video">Send video</button>

    <div>All queries: </div>
    <div class="row" id="elements"></div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha384-ZvpUoO/+PpLXR1lu4jmpXWu80pZlYUAfxl5NsBMWOEPSjUn/6Z/hRTt8+pR6L4N2" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="static/js/interface.js" type="text/javascript"></script>
<script src="static/js/gallery.js" type="text/javascript"></script>
</html>